<nb-card [nbSpinner]="loading">
    <nb-card-header> 
        <span *ngIf="!inventory_id">Thêm</span>
        <span *ngIf="inventory_id">Cập nhật</span>
        sản phẩm
    </nb-card-header>

    <nb-card-body>        
        <form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label" for="input-code">Sản phẩm:</label>
                        <nb-select placeholder="sản phẩm" [(selected)]="source.material_id" fullWidth>
                            <nb-option *ngFor="let item of listMaterial" [value]="item.id">{{item.text}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label" for="input-branch">Số lượng:</label>
                        <input nbInput fullWidth [(ngModel)]="source.amount" #name="ngModel" name="name"
                            id="input-amount" type="number" placeholder="số lượng" [required]="true" autocomplete="off">       
                    </div>
                </div>
            </div>

            <div class="buttons-row">
                <button type="button" nbButton shape="rectangle" status="danger" (click)="cancel()" style="margin-right: 10px;">
                    Thoát
                </button>
                <button type="submit" nbButton status="success" [disabled]="!form.valid" [class.btn-pulse]="submitted">
                    Lưu lại
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
